{% extends 'base.html'%}
{% load myfilters %}

{% block title %}
{% if object %}
Edit Course "{{ object.title}}"
{% else %}
Create a new course
{% endif %}
{% endblock %}
{% block content %}
<h1>
{% if object %}
Edit Course "{{ object.title}}"
{% else %}
Create a new course
{% endif %}
</h1>
<div class='module'>
<h2>Coures info</h2>
<form method='post'>
{{ form.as_p}}
{% csrf_token %}
<p><input type='submit' value="Save Course"></p>

</form>
</div>
{% endblock %}

<!-- Modal HTML Markup -->

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalLoginForm2">
    Launch demo modal
</button>
