{% extends "base.html" %}
{% block title %}
 {% if subject %}
        {{ subject.title }} courses
 {% else %}
        All courses
 {% endif %}
{% endblock %}
 {% block content %}
 <div class="jumbotron" >
   <h1 class="display-4">
    {% if subject %}
    {{ subject.title }} courses
    {% else %}
    All courses
    {% endif %}
    </h1>
 <div class="contents">
    <h3 class='lead' style="font-weight:bold;">Subjects</h3>
            <div {% if not subject %}class="selected"{% endif %}>
            <a href="{% url "course_list" %}">All</a>
            </div>
 <div class="row">
 {% for s in subjects %}
    <div class='col-lg-3 col-md-4 col-sm-6 ' style="max-width: 20rem;" {% if subject == s %}class="selected"{% endif %}>
    <div class='card bg-secondary mb-3 ' style=' border-bottom-left-radius:10px;'> <a class='card-header bg-dark text-white' style='border-top-right-radius:10px;'href="{% url "course_list_subject" s.slug %}">
    {{ s.title }}</a>
    <div class='card-body'>
    <p class='card-text'>{{ s.total_courses }} courses</p>
    </div></div>
    </div>
  {% endfor %}
   <div>
 </div>
 <div class="container-fluid">
    {% for course in courses %}
    {% with subject=course.subject %}
 <h3> 
 <a href="{% url "course_detail" course.slug %}">
 {{ course.title }}
 </a>
 </h3>
 <p>
 <a href="{% url "course_list_subject" subject.slug %}">{{subject }}</a>.
 {{ course.total_modules }} modules.
 Instructor: {{ course.owner.get_full_name }}
 </p>
 {% endwith %}
 {% endfor %}
 </div>
 </div>
{% endblock %}