 <div class='container-fluid mt-5'>
 <footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <h7 class= "text-center">Follow Me On</h7><br/>
  <p> 
  
    <center>
        <a type="button" class="btn btn-default" href='https://www.youtube.com/channel/UC1idvyJIr64813KzgMamstA/about' target="blank"><i class="fa fa-youtube fa-lg" id="linkedinicon" aria-hidden="true"></i>YouTube</a>

        <a type="button" class="btn btn-default" href='https://www.facebook.com/officialotsc/' target="blank"><i class="fa fa-facebook fa-lg" id="FacebookIcon" aria-hidden="true"></i>Facebook</a>
      
       <a type="button" id="bigOne" class="btn  btn-default" href='https://twitter.com/OTSChannel' target="blank"><i class="fa fa-twitter fa-lg" id="FacebookIcon" aria-hidden="true"></i>Twitter</a>
        
    </center>
    </div>
  </div>
  <center>
  <h7>&copy; 2020 VB Company <a href="#" data-toggle="tooltip" title="Visit our website"></a></h7>
</footer>
</div>
