{% extends "base.html" %}
{% load myfilters %}
{% block title %}
        {% if object %}
           Edit content "{{ object.title }}"
        {% else %}
           Add new content
        {% endif %}
{% endblock %}
 
{% block content %}
<div class='container'>
 <p class='display-4 mt-3'style='font-size:20px;'>
    {% if object %}
       Editing Content of <strong> {{ object.title }}</strong>
    {% else %}
       Add new content
    {% endif %}
 </p>
 <div class="module jumbotron bg-light"style='border-radius:0px 50px;border:6px solid black;'>
    <h5>Course info</h5>
    <form action="" method="post" enctype="multipart/form-data">
        {% comment %} {{ form.as_p }} {% endcomment %}
        {% for f in form %}
        <div class='form-group'>
         <label style="text-transform: uppercase;" for="">{{f.name}} : </label>
        {{f|addcss:"form-control"}}
        </div>
        {% endfor %}
        {% csrf_token %}
    <p><input type="submit" class='btn btn-info mt-2 ' value="Save content"></p>
    </form>
 </div>
 </div>
{% endblock %}