{% extends "base.html" %}
{% load cache %}
{% block title %}
    {{ object.title }}
{% endblock %}

{% block nav1 %}
    <li class="nav-item dropdown "> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Modules</a>
     <div class="dropdown-menu" >
     
     {% for m in object.modules.all %}
     <a class='dropdown-item' href="{% url "student_course_detail_module" object.id m.id %}">
    <span>Module <span class="order">{{ m.order|add:1 }}</span></span>
    <br>
 {{ m.title }}
 </a>
    <div class="dropdown-divider"></div>
 {% empty %}
 <li>No modules yet.</li>
 {% endfor %}
     </div>
    </li>
    <li class='nav-item'><a class='nav-link' href="{% url "chat:course_chat_room" object.id %}">Course Chat</a></li>
{% endblock%}

{% block content %}

<div class='container-fluid'><h4 class="text-secondary" style="margin-top:10px;">{{object.subject}} Course :  {{object.title}}</h4></div>
 <div class="container-fluid">
 <div class="row">
 <div class="col-lg-4 col-md-4" style="margin-top:30px;">
 <div class="list-group">
{% for m in object.modules.all %}
<a data-id="{{ m.id }}" {% if m == module %}class="list-group-item list-group-item-action active"{% else %}class="list-group-item list-group-item-action"{% endif %} href="{% url "student_course_detail_module" object.id m.id %}" >
    <span>Module <span class="order">{{ m.order|add:1 }}</span></span>
 {{ m.title }}
 </a></li>
 {% empty %}
 <li>No modules yet.</li>
 {% endfor %}
</div>
 </div>

<div class="col-lg-8 col-md-8 "style="margin-top:30px;">
<div class="card   mb-3" >
 {% cache 600 module_contents module%}
 <div class='card-body'>
 <div class ="row">
 {% for content in module.contents.all %}
 {% with item=content.item %}
 {% comment %} <h4 class='card-title'>{{ item.title|truncatechars:25 }}</h4> {% endcomment %}
 {{ item.render }}
 {% endwith %}
  {% empty %}
 <li>No content yet.</li>
 {% endfor %}
 </div>
 </div>
 {% endcache %}
      </div>
    </div>
</div>

{% endblock %}

{% block domready %}
 $('.dropdown-trigger').dropdown();
{% endblock%}
 
    {{item.content|linebreaks}}
       