{% extends "base.html" %}
{% load cache %}
{% block title %}
    {{ object.title }}
{% endblock %}

    {% block nav2 %}
    <li><a class='floating pulse dropdown-trigger' href='#' data-target='dropdown1'>Course Modules</a></li>
    <li><a class='waves-effect waves-light' href="{% url "chat:course_chat_room" object.id %}">Courese Chat Room<i class="material-icons right">send</i></a></li>
    {% endblock%}

    {% block nav1 %}
    <li><a class='floating pulse dropdown-trigger' href='#' data-target='dropdown1'>Modules <i class=' material-icons'>view_module</i></a></li>
    <li><a class='waves-effect waves-light' href="{% url "chat:course_chat_room" object.id %}">Chat<i class="material-icons right">send</i></a></li>
    {% endblock%}
{% block content %}
<div class='section'></div>
<div class="contents">
<ul id='dropdown1' class='dropdown-content'>
    {% for m in object.modules.all %}
    <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
     <a href="{% url "student_course_detail_module" object.id m.id %}">
    <span>Module <span class="order">{{ m.order|add:1 }}</span></span>
    <br>
 {{ m.title }}
 </a>
 </li>
    <li class="divider" tabindex="-1"></li>
 {% empty %}
 <li>No modules yet.</li>
 {% endfor %}
</ul>
 </div>
 <div class="module m5">
 
 <div class="row">
 <div class="col m4 l4 s12" style="margin-top:40px;">
 <div class="collection">
{% for m in object.modules.all %}
<li class="collection-item" data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}><a href="{% url "student_course_detail_module" object.id m.id %}">
    <span>Module <span class="order">{{ m.order|add:1 }}</span></span>
 {{ m.title }}
 </a></li>
 {% empty %}
 <li>No modules yet.</li>
 {% endfor %}
</div>
 </div>
<div class="col s12 m8 l8 ">
<div class="card-panel" >
 {% cache 600 module_contents module%}
 <div class="row">
 {% for content in module.contents.all %}
 {% with item=content.item %}
 <h4 class='d truncate left-align '>{{ item.title }}</h4>
 {{ item.render }}
 {% endwith %}
  {% empty %}
 <li>No content yet.</li>
 {% endfor %}
 </div>
 {% endcache %}
      </div>
    </div>
  </div>
 </div>
{% endblock %}

{% block domready %}
 $('.dropdown-trigger').dropdown();
{% endblock%}
 
    {{item.content|linebreaks}}
       